* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}
/*Global*/
.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  margin-top: 120px;
  font-family: "kanit", sans-serif;
  color: white;
  margin-bottom: 30px;
}
body {
  text-align: center;
  background-image: url("./img/fond.jpg");
  background-size: auto;
  color: white;
  background-image: url("./img/fond.jpg");
  background-size: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/*Header => barre de navigation responsive*/
nav {
  width: 100%;
  height: 100px;
  background: #1c0286d5;
}

nav > ul > li > a:hover {
  color: #e4f438;
}
nav > label > i {
  margin-top: 15px;
}
label,
#toggle {
  display: none;
}
header > a > img {
  width: 150px;
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
header > img {
  margin-top: 15px;

  width: 150px;
}
header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background: #1c0286d5;
  position: sticky;
}
.menu-burger > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu-burger > ul > li {
  list-style-type: none;
  margin-top: 32px;
  font-size: x-large;
}
.menu-burger > ul > li > a {
  color: white;
}

@media all and (max-width: 600px) {
  nav {
    height: 60px;
  }
  header > a > img {
    width: 100px;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .menu-burger > ul > li {
    list-style-type: none;
    margin-top: 4px;
  }
  nav .menu-burger {
    display: none;
    flex-direction: column;
    /* background: #1c0286d5; */
    height: 120px;
  }
  .menu-burger > ul {
    flex-direction: column;
    align-items: center;
  }
  .menu-burger > ul > li > a {
    line-height: 12px;
    font-size: 20px;
  }
  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  #toggle:checked + .menu-burger {
    display: flex;
  }
}
@media all and (min-width: 600px) and (max-width: 800px) {
  .menu-burger > ul > li {
    font-size: 15px;
  }
}
/* PAGE ACCUEIL */

.container_accueil {
  padding: 50px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media all and (max-width: 800px) {
  .container_accueil {
    padding: 10px;
    max-width: none;
  }
}

/* CARROUSEL */
.carrousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carrousel_grand {
  display: none;
}

@media all and (min-width: 600px) {
  .carrousel_grand {
    display: block;
  }

  .carrousel_grand.active {
    display: block;
  }
  .carrousel_grand.notActive {
    display: none;
  }

  .carrousel_petit {
    display: none;
  }
}

.carrousel_img_div_petit {
  height: 400px;
  width: 300px;
}

.carrousel_img_div_grand {
  height: 500px;
  width: 800px;
}

.carrousel_img {
  max-width: 100%;
  max-height: 100%;
}

.active {
  display: block;
}

.notActive {
  display: none;
}

/* CARROUSEL FIN ----------------------------------------*/

/* ACCUEIL CHOIX */

.accueil_choix {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media all and (max-width: 600px) {
  .accueil_choix {
    flex-direction: column;
    align-items: center;
  }
}

.accueil_choix a {
  margin: 20px;
}

.bouton_accueil {
  border: 10px groove #f1f1f1;
  height: 50px;
  width: 200px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ACCUEIL CHOIX FIN ------------------------------------*/

/* CONTACT */

.container-form,
.container-search {
  border-radius: 5px;
  background-color: #1c0286d5;
  opacity: 0.7;
  padding: 50px;
  /* margin-left: 150px;
  margin-right: 150px; */
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media all and (max-width: 800px) {
  .container-form {
    padding: 10px;
    max-width: none;
    border-radius: 0;
  }
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #48435c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5e5c5c;
}

form > label {
  display: flex;
  color: white;
  font-size: medium;
}
textarea {
  height: 50vh;
}

@media all and (max-width: 800px) {
  .container {
    margin: 20px;
  }
}

/* CONTACT --------------------------------------------- */

/* SEARCH */
.container-search {
  border-radius: 5px;
  background-color: #1c0286d5;
  opacity: 0.7;
  padding: 50px;
  /* margin-left: 150px;
  margin-right: 150px; */
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

@media all and (max-width: 800px) {
  .container-search {
    padding: 10px;
    max-width: none;
    border-radius: 0;
  }
}

.container-search > form {
  margin-top: 20px;
  margin-bottom: 100px;
  
}
form.search input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  align-self: flex-start;
}

form.search button {
  float: left;
  width: 20%;
  padding: 11px;
  background: #48435c;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #48435c;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}
.card h2 {
  font-size: large;
  color: #4d4c4f;
}
.card p {
  font-size: 14px;
  margin: 5px 0;
  color: #4d4c4f;
}

/* SEARCH- --------------------------------------------- */

/* presentation -------------------------------------- */

.container_presentation {
  padding: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media all and (max-width: 800px) {
  .container_presentation {
    padding: 20px;
    max-width: none;
  }
}

#introduction p,
#histoire p {
  text-align: justify;
}

.personnage {
  border: 10px groove #f1f1f1;
  background-color: #f1f1f1;
  color: black;
  display: flex;
  width: 600px;
  margin: 10px;
}

.personnage_detail_histoire {
  text-align: justify;
  margin: 10px;
}

#personnages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* presentation FIN ------------------------- */
